<div class="auth-container">
    <h1>Fazer Login</h1>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Digite o seu e-mail:</label>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-control">
            <label for="password">Digite a sua senha:</label>
            <input type="password" name="password" placeholder="Senha">
        </div>
        <div class="right">
        <p>Não possui conta? <a href="/register">Clique aqui!</a></p>
        </div>
        <input class="btn-next" type="submit" value="Continuar">
    </form>
</div>