<div class="auth-container">
    <h1>Registrar</h1>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Digite o seu nome:</label>
            <input type="text" name="name" placeholder="Nome" required>
        </div>
        <div class="form-control">
            <label for="email">Digite o seu e-mail:</label>
            <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-control">
            <label for="password">Digite a sua senha:</label>
            <input type="password" name="password" placeholder="Senha" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Repita a sua senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme a sua senha:" required>
        </div>
        <div class="right">
            <p>Já possui conta? <a href="/login">Clique aqui!</a></p>
        </div>
        <input class="btn-next" type="submit" value="Cadastrar">
    </form>
</div>