<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>No que você está pensando?</h1>
    <form action="/toughts/add" method="post">
    <div class="form-control">
        <label for="title">Thought:</label>
        <input type="text" name="title" placeholder="ex: Node é melhor que PHP!">
    </div>
    <input class="btn-edit" type="submit" value="Enviar Thought">
    </form>
</div>