<div class="dashboard">
    <div class="title-container">
        <h1>Dashboard</h1>
        <a href="/toughts/add" class="btn">Criar Tought</a>
    </div>
    <h2>Meus toughts</h2>
    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/" class="btn">Editar</a>
                <form action="/toughts/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="submit" value="Excluir" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>Não há nada por aqui... crie seu primeiro pensamento <a href="/toughts/add">por aqui!</a></p>
    {{/if}}
</div>