.message{
    padding: 1em;
    color: var(--cor-branca);
    background-color: var(--cor-bg-primaria);
    border: 1px solid var(--cor-bg-primaria);
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}
