#logo img{
    height: 45px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bg-primaria);
    position: relative;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li{
    margin-left: 1em;
}

.hover-border {
    position: relative;
    color: var(--cor-branca);
    text-decoration: none;  
}
.hover-border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-branca);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.hover-border:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}